apiVersion: route.openshift.io/v1                                                                                                                                                                                                                             
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/balance: roundrobin
  labels:
    app: "{{ app_name }}"
    app.kubernetes.io/component: "{{ app_name }}"
    app.kubernetes.io/instance: "{{ app_name }}"
  name: "{{ app_name }}"
  namespace: "{{ vm_project }}"
spec:
  host: "{{ app_name }}.apps.{{ clustername }}.{{ basedomain }}"
  port:
    targetPort: 8080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to: 
    kind: Service
    name: {{ app_name }}
    weight: 100 
  wildcardPolicy: None