kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
  namespace: {{ vm_project }}
spec:
  ports:
  - name: 8080-80
    port: 8080
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ app_name }}
  type: ClusterIP